<div class="row text-center">
   <div class="col">
     <h1><%= t(".title") %></h1>
   </div>
 </div>

 <table class="table table-bordered mt-2", id="test_table">
   <thead>
     <tr>
       <th><%= t('.image') %></th>
       <th><%= t('.name') %></th>
       <th><%= t('.rule') %></th>
       <th><%= t('.count') %></th>
     </tr>
   </thead>
   <tbody>
     <%= render @badges %>
   </tbody>
 </table>
