<h1><%= t('.all_tests') %></h1>

<p>
  <%= link_to t('.new_test'), new_admin_test_path %>
</p>

<table>
  <tr>
    <th><%= t('.test') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.count_questions') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>
</table>
