<p>
  <strong><%= t('.header', title: @test.title) %></strong>  
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<%= render 'test_questions' %>

<%= link_to t('edit'), edit_admin_test_path(@test) %> |
<%= link_to t('back'), admin_tests_path %>

