<h1><%= t('.all_tests') %></h1>

<table>
  <tr>
    <th><%= t('.test') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.count_questions') %></th>
    <th><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>
</table>